$mainFont : "Rubik",
sans-serif;

$mainFontColor : #101010;
$mainFontSize : 18px;
$mainFontWeight : 400;
$mainLineHeight : 1.4;

$desktopWidth : 1280px;
$smDesktopWidth : 980px;
$tableWidth : 768px;
$phoneWidth : 480px;
$smPhoneWidth : 320px;



$border-color: rgba(43, 43, 43, 0.815);
$transparent-color: rgba(0, 0, 0, 0);
$primary-color : #535353;
$secondary-color: #45161C;
$danger-color : #ff2b47;
$warning-color : #d99d61;
$neutral-container: rgba(242, 255, 168, 0.459);
$neutral-menu: #f0b478;