.pagination {
    margin-top: rem(40);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    li {
        height: 28px;

        a {
            transition: .5s all;
            padding: 3px;
            display: block;
            cursor: pointer;
            margin: 1px;

            &:first-child,
            &:last-child {
                height: 100%;
            }
        }

        &:hover,
        &:focus {
            background: rgba(111, 209, 255, 0.575);
            color: rgb(0, 0, 0);
        }

        &.active {
            text-decoration: underline;
            color: rgb(0, 0, 0);
        }
    }

    .previous,
    .next {
        color: rgb(0, 0, 0);
        font-family: 'icomoon' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;

        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}