.search-page {
    &__wrapper {
        margin-top: rem(40);
        margin-left: rem(40);
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &-date {
            display: flex;
        }
    }
}


@media screen and (max-width: $tableWidth) {
    .search-page {

        &__form {
            align-items: center;

            &-date {
                flex-direction: column;
            }
        }
    }
}